
  <link rel="stylesheet" href="css/user-profile.css">
  <!-- navigation bar -->
  <section id="title">
    <nav class="navbar color-navbar">
      <!-- menu -->
      <div class="menu">
        <!-- hamburger menu icon -->
        <button class="hamburger" id="hamburger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </button>
        <!-- close menu icon-->
        <button class="close-icon" id="close-menu-icon">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!-- site name -->
      <a class="nav-brand" href="/">site name</a>

      <!-- cart -->
      <a class="shopping-cart" href="#">
        <span class="fas fa-shopping-cart cart-icon"></span>
      </a>

      <!-- profile -->
      <% if(userId) { %>
      <ul class="profile-wrapper" id="menu-on-phone">
        <li>
          <div class="user-profile" id="profile-menu">
            <button class="user-img">
              <% if( userId.profileimage !== null) {%> 
              <img class="profile-img" src="<%= userId.profileimage %> " alt="profile imge">
              <% }else{ %> 
              <img class="profile-img" src="logo/profile.jpeg " alt="profile imge">
                <% } %> 
            </button>
          </div>

          <ul>
            <li>
              <div class="profile-settings" id="prof-settings">
                <div class="user-name color-btn">

                  <h3><%= userId.name%></h3>

                </div>
                <ul class="profile-list">

                  <li><a href="/">Home</a></li>
                  <li><a href="#">Chats</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="logout">Sign out</a></li>

                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>

    </nav>
    <!--start of profile-->
    <main class="prof-pg">

      <!--profile name-->
      <div class="prof-hd color-navbar">
        <h1>Profile</h1>
      </div>

      <form action="profile" method="POST" encType="multipart/form-data">
        <div class="prof">
          <!--profile image-->
          <div class="img-wrapper">
            <% if( userId.profileimage !== null) {%> 
              <img class="prof-img" src="<%= userId.profileimage %> " alt="profile imge">
              <% }else{ %> 
              <img class="prof-img" src="logo/profile.jpeg " alt="profile imge">
                <% } %> 
            <input class="form-control" type="file" name="profileimage" accept="image/*" />
          </div>
        
          <div class="user-ID">
            <p><strong>ID : # </strong> <%= userId._id %></p>
          </div>
        </div>

        <!--profile details-->
        <div class="d-flex prof-form">

          <div class="prof-name">
            <label class="label" for="name">Name:</label>
            <label class="label" for="username">Username:</label>
            <label class="label" for="email">Email:</label>
          </div>
          <div class="prof-input">
            <input name="name" id="name" class="box" type="text" value="<%= userId.name %>">
            <input name="username" id="username" class="box" type="text" value="<%= userId.username %>">
            <input name="email" id="email" class="box" type="email" value="<%= userId.email %>">
          </div>
          <div class="edit-icon">
            <span class="fas fa-edit" for="name"></span>
            <span class="fas fa-edit" for="username"></span>
            <span class="fas fa-edit" for="email"></span>
          </div>
        </div>
        <div class="save-btn">
        <button class="btn wt-f " type="submit" name="button">Save</button>
      </div>
      </form>

      <div class="prof-fp">
        <a href="forgot.html">Want To Change Your Password?</a>
      </div>

      <% } %>

    </main>
    <!--footer-->
    <%- include('./partials/footer') %> 