
  <link rel="stylesheet" href="css/user-profile.css">
  <%- include('partials/header') %> 
    <% if(userId) { %>
    <!--start of profile-->
    <main class="prof-pg">
      <!--profile name-->
      <div class="prof-hd color-navbar">
        <h1>Profile</h1>
      </div>
      <form action="profile" method="POST" encType="multipart/form-data">
        <div class="prof">
          <!--profile image-->
          <div class="img-wrapper">
            <% if( userId.profilePhoto.imageType !== undefined) {%> 
              <img class="prof-img" src="data:<%= userId.profilePhoto.imageType%>;base64,<%=userId.profilePhoto.imageBase%>" alt="profile imge">
              <% }else{ %> 
              <img class="prof-img" src="logo/profile.jpeg " alt="profile imge">
                <% } %> 
            <input class="form-control" type="file" name="profileimage" accept="image/*" />
          </div>
        
          <div class="user-ID">
            <p><strong>ID : # </strong> <%= userId._id %></p>
          </div>
        </div>
        <!--profile details-->
        <div class="d-flex prof-form">

          <div class="prof-name">
            <label class="label" for="name">Name:</label>
            <label class="label" for="username">Username:</label>
            <label class="label" for="email">Email:</label>
          </div>
          <div class="prof-input">
            <input name="name" id="name" class="box" type="text" value="<%= userId.name %>">
            <input name="username" id="username" class="box" type="text" value="<%= userId.username %>">
            <input name="email" id="email" class="box" type="email" value="<%= userId.email %>">
          </div>
          <div class="edit-icon">
            <span class="fas fa-edit" for="name"></span>
            <span class="fas fa-edit" for="username"></span>
            <span class="fas fa-edit" for="email"></span>
          </div>
        </div>
        <div class="save-btn">
        <button class="btn wt-f " type="submit" name="button">Save</button>
      </div>
      </form>

      <div class="prof-fp">
        <a href="forgot.html">Want To Change Your Password?</a>
      </div>

      <% } %>

    </main>
    <%- include('./partials/footer') %> 