<% if(products.length !== 0) {-%>
    <% products.forEach((product)=>{ -%>
    <%if(userId === null){-%>
    <a class="cards-item" href="/post/<%=product._id%>">
        <% } else { -%>
    <a class="cards-item" href="/user/post/<%=product._id-%>">
        <%}-%>
        <div class="img-container">
            <img class="product-img"
                src="data:<%=product.productImages[0].imageType%>;base64,<%=product.productImages[0].imageBase-%>"
                alt="product image">
        </div>
        <div class="cards-details">
            <div class="product-name">
                <span class=""><%=product.title%></span>
            </div>
            <div class="price">
                <span>Price $<strong><%=product.price%>.00</strong></span>
            </div>
            <div class="product-description">
                <span><%=product.description.substr(0, 30)%> ...</span>
            </div>
            <div class="product-btn-links">
                <button class="btn buy">Chat</button>
                <button class="btn remove-btn">
                    <span class="fas fa-trash-alt"></span>
                </button>
            </div>
        </div>
    </a>
    <% })}else{-%>
        <h1>No product to display</h1>
    <%}-%> 