<link rel="stylesheet" href="css/user-profile.css">
<%- include('partials/header') %>
<% if(userId) { %>
<!--start of profile-->
<main class="prof-pg">
  <!--profile name-->
  <div class="prof-hd color-navbar">
    <h1>Profile</h1>
  </div>
  <form action="profile" method="POST" encType="multipart/form-data">
    <div class="prof">
      <!--profile image-->
      <div class="img-wrapper">
        <div class="prof-img-container">
        <% if( userId.profilePhoto.imageType !== undefined) {%>
          <img class="prof-img" src="data:<%= userId.profilePhoto.imageType%>;base64,<%=userId.profilePhoto.imageBase%>"
            alt="profile imge">
          <% }else{ %>
          <img class="prof-img" src="logo/profile.jpeg " alt="profile imge">
          <% } %>
        </div>
        <input class="form-control" type="file" name="profileimage" accept="image/*" />
      </div>
      <!--profile details-->
      <div class="prof-input lay-grid">
        <label class="form-lable" for="name">ID:</label>
        <div class="user-ID">
          <span>#<%=userId._id%></span>
        </div>
        <label class="form-lable" for="name">Name:</label>
        <div class="d-flex mg-b">
          <input name="name" id="name" class="form-control wt-h box" type="text" value="<%= userId.name%>" disabled required>
          <span id="name-edit-btn" class="fas fa-edit edit-btn" for="name"></span>
        </div>

        <label class="form-lable" for="username">Username:</label>
        <div class="d-flex mg-b">
          <input name="username" id="username" class="form-control wt-h box" type="text" value="<%= userId.username%>"
            disabled required>
          <span id="username-edit-btn" class="fas fa-edit edit-btn" for="username"></span>
        </div>

        <label class="form-lable" for="email">Email:</label>
        <div class="d-flex mg-b">
          <input name="email" id="email" class="form-control wt-h box" type="email" value="<%= userId.email%>" disabled required>
          <span id="email-edit-btn" class="fas fa-edit edit-btn" for="email"></span>
        </div>

      </div>
      <div class="save-btn wt-h">
        <button id="save-btn" class="btn wt-f" type="submit" name="button" disabled>Save</button>
      </div>
  </form>
  <div class="prof-fp">
    <a href="forgot.html">Want To Change Your Password?</a>
  </div>
  <% } %>
</main>
<%- include('./partials/footer') %>
<script defer src="js/profile.js"></script>